<!DOCTYPE html>
<html>
<head>
  <title>China</title>
  <%= stylesheet_link_tag    "china/application", media: "all" %>
  <%= javascript_include_tag "china/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
