<!DOCTYPE html>
<html>
<head>
  <title>Unidom Certificate China</title>
  <%= stylesheet_link_tag    "unidom/certificate/china/application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag 'unidom/certificate/china/application' %>

</body>
</html>
